{% extends "admin/login.html" %}

{% load i18n admin_oauth_extras %}

{% block extrahead %}{{ block.super }}
<style>
#content-main {
  float: none;
}
#footer {
  padding: 0;
}
.admin-sso {
  border-top: 1px solid #ccc;
  padding: .75rem 0 0 0;
  margin: .75rem 0 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}
.admin-sso .button {
  padding: 10px 15px;
  display: inline-block;
  margin: auto;
}
@media (max-width: 767px) {
  .admin-sso .button {
    display: block;
  }
}
</style>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="admin-sso">
  {% get_setting "GOOGLE_CLIENT_ID" as google_client_id %}
  {% if google_client_id %}
  <a class="button" href="{% url 'admin_oauth' %}?next={{ request.GET.next }}">{% trans "Log in using Google" %}{% if request.session.admin_oauth_prompt %} {% translate '(select account)' %}{% endif %}</a>
  {% endif %}
  {% get_setting "MICROSOFT_CLIENT_ID" as microsoft_client_id %}
  {% if microsoft_client_id %}
  <a class="button" href="{% url 'admin_oauth_microsoft' %}?next={{ request.GET.next }}">{% trans "Log in using Microsoft" %}{% if request.session.admin_oauth_prompt %} {% translate '(select account)' %}{% endif %}</a>
  {% endif %}
</div>
{% endblock content %}
